@tailwind base;
@tailwind components;
@tailwind utilities;

.multi-select::-webkit-scrollbar {
  width: 5px;
}
.main-lists::-webkit-scrollbar {
  width: 0.25rem;
  border-radius: 5px;
}
.main-lists::-webkit-scrollbar-thumb {
  background: rgb(156 163 175);
  border-radius: 5px;
}
